body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



.mytabpane{
    padding-top:22px;
}

.advsum-item {
    margin: 15px 0px;
    padding: 15px;
    border: solid 1px #e4e4e4;
    text-align: center;
}

.advsum-btn {
    padding: 10px;
    text-align: center;
}
